@{
    ViewData["Title"] = "Trang quản trị viên";
}

<div class="d-flex" style="min-height: 100vh;">
    <div class="bg-light border-end p-3" style="width: 300px;">
        <nav class="nav flex-column">
            <h5 class="text-secondary mb-3 ms-1">Trang quản trị trang web</h5>
            <a class="nav-link d-flex align-items-center gap-2 text-dark active ms-1 hover-effect" href="/Account/Profile">
                <i class="fas fa-film"></i> <span>Danh sách phim</span>
            </a>
            <a class="nav-link d-flex align-items-center gap-2 text-dark ms-1 hover-effect" href="#">
                <i class="fas fa-door-open"></i> <span>Danh sách phòng chiếu</span>
            </a>
            <a class="nav-link d-flex align-items-center gap-2 text-dark ms-1 hover-effect" href="#">
                <i class="fas fa-user-tie"></i> <span>Danh sách nhân viên</span>
            </a>
            <a class="nav-link d-flex align-items-center gap-2 text-dark ms-1 hover-effect" href="#">
                <i class="fas fa-gift"></i> <span>Danh sách khuyến mãi</span>
            </a>
            <a class="nav-link d-flex align-items-center gap-2 text-dark ms-1 hover-effect" href="#">
                <i class="fas fa-user"></i> <span>Danh sách tài khoản</span>
            </a>
        </nav>
    </div>